@import '../../var.scss';

#nav > .container {
    display: flex;
    text-transform: uppercase;
    flex-direction: row;
    padding: 1rem 0;
    justify-content: space-between;
    transition: 500ms;
    align-items: center;

    ul{
        display: flex;
        list-style-type: none;
        
        a{
            text-decoration: none;

            li{
                padding: 1rem;
                color: $text-color;

                &:hover{
                    color: white;
                }
            }
        }
    }
}

nav{
    background-color: white;
}

.nav-sticky {
    position: sticky;
    top: 0;
    background-color: rgba($color: black, $alpha: 0.6);
    transition: 500ms;
    ul{
        a{
            li{
                color: white!important;
                transition: 300ms;

                &:hover{
                    background-color: $btn-color!important;
                }
            }
        }
    }
}