@import '../../var.scss';

#nav > .container {
    display: flex;
    text-transform: uppercase;
    flex-direction: row;
    padding: 1rem 0;
    justify-content: space-between;
    

    ul{
        display: flex;
        list-style-type: none;
        
        a{
            text-decoration: none;

            li{
                padding: 0 1rem;
                color: $text-color;
            }
        }
    }
}

#nav {
    position: sticky;
    top: 0;
    background-color: white;
}